{% extends "template.html" %}
{% block content %}
<h1>WELCOME GARLIC LOVER</h1>
<p>
    It looks like you're ready to join us in the dark web, deep underground much like the bulbs we love so much.
</p>
<p style="text-align:center">
    <img src="/static/garliclol.jpg" width="300"/>
</p>
<p>
    Give this code when you arrive at our headquarters: <b>{{ flag }}</b>
</p>
<p>
    Having fun? <a href="https://grnh.se/82dc5d093us" target="_blank">We're hiring!</a> &#128058;<br>
    <span style="font-style:italic; font-size:0.6em;">(Open in normal browser)</span>
</p>
{% endblock %}