html, body {
    margin:0px;
    padding:0px;
    background-color:#FFF;
    font-family: 'Times New Roman', Times, serif;
    font-size:24px;
}

#header {
    padding:5px;
    margin-bottom:20px;
    text-align:center;
    border-bottom:1px solid #AAA;
}

#header h1 {
    font-family: 'Suez One', serif;
    font-weight:bold;
    font-size:1.4em;
}

#game-board {
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  
  .letter-box {
    border: 2px solid gray;
    border-radius: 3px;
    margin: 2px;
    font-size: 2.5rem;
    font-weight: 700;
    height: 3rem;
    width: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
  }
  
  .filled-box {
    border: 2px solid black;
  }
  
  .letter-row {
    display: flex;
  }

  #messages {
      width:1024px;
      margin:auto;
  }

#keyboard-cont {
    margin: 1rem 0;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  #keyboard-cont div {
    display: flex;
  }
  
  .second-row {
    margin: 0.5rem 0;
  }
  
  .keyboard-button {
    font-size: 1rem;
    font-weight: 700;
    padding: 0.5rem;
    margin: 0 2px;
    cursor: pointer;
    text-transform: uppercase;
  }

#footer {
    padding:20px;
    text-align:center;
    font-weight:bold;
    font-size:0.8em;
}

.hidden {
    display: none;
  }

.green {
    background-color: green;
    color:#FFF;
}

.yellow {
    background-color: darkgoldenrod;
    color:#FFF;
}

.grey {
    background-color: grey;
    color:#FFF;
}
  