html, body {
    margin:0px;
    padding:0px;
    background-color:#F5F5F6;
}

#content {
    margin: 20px auto;
    width: 1024px;
    border: 1px solid #E6E7E9;
    background-color:#FFF;
}

#header {
    padding:20px;
    text-align:center;
}

#content {
    padding:20px;
}

#footer {
    padding:20px;
    text-align:center;
    font-weight:bold;
    font-size:0.8em;
}

.hidden {
    display: none;
  }
  